*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
div{
    text-align: center;
    margin: 50px;
}
img{
    width: 600px;
    height: 850px;
}
h1{
    background-color: yellow;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 660px) {
    img{
        width: 300px;
        height: 425px;
    }
    div{
        margin: 20px;
    }
}